include ../../../form-helpers/select.pug

.form-group
  +select(`${__('admin.dogs.award')}`, 'award', awards.map(function(awardObject) { return {value: awardObject._id, title: awardObject.title, selected: awardObject.id == award}}), {value: '', title: __('admin.dogs.award.select')})
  if form && form.getErrors('award').length > 0
    div.error= __(form.getErrors('award')[0])

.row
  .col-xs-2
    .form-group
      button.btn.btn-primary(type='submit') #{__('admin.actions.save')}
  .col-xs-2
    .form-group
      a.btn.btn-primary(href=`/admin/dog/edit/${dog._id}`) #{__('admin.actions.cancel')}