.row
  .col-xs-12
    .list.list-inner
      .row
        .col-xs-12
          .list-header List of images
      each image in dog.images
        .row
          .col-xs-12
            .list-item
              .row
                .col-xs-10.t-left= image.title
                .col-xs-1
                  a(href=`/admin/images/dog/${dog._id}/edit/${image._id}`)
                    i.glyphicon.glyphicon-edit
                .col-xs-1
                  a(href=`/admin/images/dog/${dog._id}/delete/${image._id}`)
                    i.glyphicon.glyphicon-trash

      else
        .row
          .col-xs-12
            .list-item No images
      .row
        .col-xs-12
          .list-item.clearfix
            a.btn.btn-primary.pull-right(href=`/admin/images/dog/${dog._id}/add`) Add images